<!DOCTYPE html>
{% extends "affiliate/base.html"%}
  {% block body_block %}
    {% load static %}
        <!-- Header-->
    <header class="bg-dark py-1">
        <div class="container px-4 px-lg-5 my-2">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Indian Traditional Deals</h1>
                <p class="lead fw-normal text-white-50 mb-0">Shop for the best Indian Traditional Wares</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5" >
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-5 justify-content-center">
              {% if indexlist %}
                {% for indice in indexlist %}
                  <div class="col mb-5">
                      <div class="p-3 card h-100">
                          <!-- Product image-->
                          <a href="{{ indice.Image|safe }}" />
                          <!-- Product details-->
                          <div class="card-body p-2">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h6 class="fw-normal">{{ indice.prod_title }}</h6>
                                  <!-- Product price-->
                                  &#8377 {{ indice.Price }}
                              </div>
                          </div>
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ indice.Url }}">Shop here</a></div>
                          </div>
                      </div>
                  </div>
                {% endfor %}
              {% else %}
                <h1>No indices found!!</h1>
              {% endif %}
            </div>


        </div>
    </section>
  {% endblock %}
